@import 'tailwindcss';
@plugin "daisyui";
@import "@heroui/styles"; 

@theme {
  --color-primaryColor: #d72050;
  --color-dark1: #706f6f;
  --color-dark2: #403f3f;
}

@layer utilities {
  p {
    color: #706f6f;
  }

  .containers {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
